<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="container ">
        <div class="row justify-content-md-center">
            <form th:action="@{/user/changePassword}" th:method="POST" th:object="${formPassword}" style="padding: 15px;
       background: white; margin: 10px; border: 1px; border-radius: 5px;">
                <h3 style="margin-bottom: 30px; margin-top: 40px;">Смена пароля</h3>
                <div class="form-group">
                    <label for="currentPassword">Текущий пароль</label>
                    <input type="password" class="form-control" id="currentPassword" th:field="*{currentPassword}" required>
                    <ul>
                        <li th:each="err : ${#fields.errors('currentPassword')}" th:text="${err}"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="newPassword">Новый пароль</label>
                    <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" required>
                    <ul>
                        <li th:each="err : ${#fields.errors('newPassword')}" th:text="${err}"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Подтверждение нового пароля</label>
                    <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" required>
                    <ul>
                        <li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></li>
                    </ul>
                </div>
                <div class="row justify-content-md-center">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>