<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="container" style="background: white; margin: 20px; border-radius: 7px;">
        <div class="py-5 text-center">
            <h2>Заявки на модерирование</h2>
            <p class="lead">Ниже представлена таблица с пользователями, желающими стать модератором</p>
        </div>
        <table class="table">
            <caption th:if="${requests.size() == 0}">На данный
                момент нет действующих модераторов
            </caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Опыт</th>
                <th scope="col">Профиль</th>
                <!--                <th scope="col">Дата окончания</th>-->
                <!--                <th scope="col">Статус</th>-->
            </tr>
            </thead>
            <tbody th:if="${requests.size() != 0}">
            <tr th:each="request, iter : ${requests}">
                <th scope="row" th:utext="${iter.index}+1"></th>
                <td th:text="${request.getUser().getProfile().getName()}"></td>
                <td th:text="${request.getUser().getProfile().getSurname()}" ></td>
                <td th:text="${request.getExperience()}" ></td>
                <td><a th:href="@{/user/view/profile/{id}(id=${request.getUser().getId()})}">Подробнее</a></td>
                <td>
                    <button style="font-size: 0.875rem" type="button" class="btn btn-success btn-sm" data-toggle="modal"
                            data-target="#acceptRequest">
                        Принять
                    </button>
                </td>
                <div class="modal fade" id="acceptRequest" tabindex="-1" role="dialog"
                     aria-labelledby="acceptRequest" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="acceptRequestTitle">Подтвердите выбор</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите сделать этого пользователя модератором?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить
                                </button>
                                <a class="btn btn-success" th:href="@{/user/moderator/approve/{id}(id=${request.getUser().getId()})}">Подтвердить</a>

                            </div>
                        </div>
                    </div>
                </div>
                <td>
                    <button style="font-size: 0.875rem" type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#denyRequest">
                        Отклонить
                    </button>
                </td>
                <div class="modal fade" id="denyRequest" tabindex="-1" role="dialog"
                     aria-labelledby="deleteTheme" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteThemeLongTitle"
                                    th:text="'Отклонение заявки'"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" th:action="@{/user/moderator/deny/{id}(id=${request.getUser().getId()})}">
                                    <label th:for="${iter.index}">Причина:</label>
                                    <input th:id="${iter.index}" name="reason" required>
                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить
                                </button>


                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>