<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Этап 1. Создание курса</title>

    <style>
    .has-error {
    color: red
    }
    </style>
</head>
<body class="bg-light">
<div th:fragment="content">
<div class="container">
    <div class="py-5 text-center">
        <h2>Этап 1.Создание курса</h2>
        <p class="lead">Здесь вы сможете создать свой курс. Процесс разработки курса разбит на несколько этапов. Ниже
            вы сможете заполнить основную информацию о своем курсе.</p>
    </div>

        <div class="col order-md-1">
            <h4 class="mb-3 row">Ваш курс</h4>
            <form class="needs-validation" novalidate="" th:method="post" th:object="${course}" th:action="@{/courses/addCourse}">

                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="name">Название курса</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="" value="" required="">
                        <p class="bd-warning" th:if="${#fields.hasErrors('name')}" th:classerror="has-error"
                           th:errors="*{name}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="description">Описание</label>
                        <div class="input-group">
                        <input  th:field="*{description}" class="form-control" id="description" placeholder="Описание"
                                  required="">
                            <p class="bd-warning" th:if="${#fields.hasErrors('description')}" th:classerror="has-error"
                               th:errors="*{description}"></p>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Готово</button>
                </div>
            </form>

        </div>
    </div>
</div>
</div>
</body>
</html>