<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:with="user=${user}"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>
        .container {
            margin: 0 auto;
            height: auto;
        }

        .jumbotron {
            width: content-box;
        }

        .card {
            margin: 5px;
        }

    </style>
</head>
<body>
<div th:fragment="content">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">

        </div>
    </div>
    <div class="container">
        <div class="row">
            <th:block th:each="course, iterStat : ${courses}">
                <!--        <div th:class="${iterStat.index} % 3 == 0 ? 'row': ''">-->
                <div class="card" style="width: 22rem; margin: 5px;">
                    <div class="card-body">
                        <h5 class="card-title courseName"
                            th:utext="${course.name}">..</h5>
                        <h6 class="card-subtitle mb-2 text-muted"
                            th:utext="${course.author.getProfile().getName() + ' ' + course.author.getProfile().getSurname()}">
                        </h6>
                        <p style="text-overflow: ellipsis" class="card-text courseDescription"
                           th:utext="${course.description}"></p>
                        <a th:href="@{/courses/{id}(id=${course.id})}" class="card-link">Перейти</a>
                        <a sec:authorize="hasAuthority('ADMIN')" href="#" class="card-link">Удалить курс</a>
                    </div>
                </div>
                <!--        </div>-->
            </th:block>
            <script>
                if (document.readyState == 'complete') {
                    // ещё загружается, ждём события
                    alert("done")
                } else {

                }
            </script>
            <script>

                // function cutName() {
                //
                //     let elem, size, text;
                //     elem = document.getElementsByClassName('courseName');
                //     size = 80;
                //
                //     for (let i = 0; i < elem.length; i++) {
                //         text = elem[i].innerText;
                //         if (elem[i].innerHTML.length > size) {
                //             text = elem[i].innerHTML.substr(0, size);
                //         }
                //         elem[i].innerHTML = text;
                //     }
                // }

                function cutDescription() {
                    let elem, size, text;
                    elem = document.getElementsByClassName('courseDescription');
                    size = 150;

                    for (let i = 0; i < elem.length; i++) {
                        text = elem[i].innerText;
                        if (elem[i].innerHTML.length > size) {
                            text = elem[i].innerHTML.substr(0, size);
                        }
                        elem[i].innerHTML = text + '...';
                    }
                }

                cutDescription()
                cutName()
            </script>
        </div>
    </div>
</div>
</body>
</html>