<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>
        .container {
            margin: 0 auto;
            height: auto;
        }

        .jumbotron {
            width: content-box;
        }

        .card {
            margin: 5px;
        }

    </style>
</head>
<body>
<div th:fragment="content">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Приветствуем, <b th:utext="${user}"></b></h1>
            <div sec:authorize="hasAuthority('STUDENT')">
                <p  class="lead">Хорошего дня! На нашей платформе вы можете
                    самостоятельно создать курс.</p>
                <a class="btn btn-primary btn-lg" th:href="@{/courses/addCourse}" role="button">Узнать больше</a>
            </div>
            <p sec:authorize="hasAuthority('ADMIN')" class="lead">Общее количество пользователей: <span
                    th:utext="${usersAmount}"></span></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <th:block th:each="course, iterStat : ${courses}">
                <!--        <div th:class="${iterStat.index} % 3 == 0 ? 'row': ''">-->
                <div class="card" style="width: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title" th:utext="${course.name}">..</h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:utext="${course.author}">..</h6>
                        <p class="card-text" th:utext="${course.description}">..</p>
                        <a th:href="@{/courses/{id}(id=${course.id})}" class="card-link">Перейти</a>
                        <a sec:authorize="hasAuthority('ADMIN')" href="#" class="card-link">Удалить курс</a>
                    </div>
                </div>
                <!--        </div>-->
            </th:block>
        </div>
    </div>
</div>
</body>
</html>