<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="container">
        <form th:action="@{/themes/addTheme}" th:object="${formTheme}" method="post">
            <input type="hidden" th:field="*{id}" />

            <div class="form-group">
                <label for="name">Название темы</label>
                <textarea class="form-control" id="name" th:field="*{name}" ></textarea>
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="form-group">
                <label for="description">Лекционный материал</label>
                <textarea class="form-control" id="description" th:field="*{description}" ></textarea>
                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                </ul>
            </div>

            <div class="form-group">
                <label for="course">Выберите курс, к которому будет прикреплена тема</label>
                <select id="course" class="form-control" th:field="*{courseId}">
                    <option th:each="course : ${courses}"
                            th:value="${course.id}"
                            th:text="${course.name}"></option>
                </select>
                <ul>
                    <li th:each="err : ${#fields.errors('courseId')}" th:text="${err}"></li>
                </ul>
            </div>
            <button type="submit" class="btn btn-default">Готово</button>
        </form>
    </div>
</div>
</body>
</html>