<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="container" style="width: 90%; background: #ffffff; margin-top: 10px; border: 1px; border-radius: 5px;">
        <div class="row" style="padding:10px;">
            <h3 th:text="${course.getName()}"></h3>
            <br>
            <div class="row" style="margin-left:10px;">
                <a th:each="tag : ${course.getTags()}" th:href="@{/courses/search/tag(name=${'#' + tag.getName()})}"
                   th:text="${'#' + tag.getName() + ' '}"></a>
            </div>
        </div>
        <div class="row" style="margin: 5px">
            <h5 th:text="${'Автор: ' + course.getAuthor().toString()}"></h5>
        </div>
        <div class="row" style="margin: 3px">
            <p th:text="${course.getDescription()}"></p>
        </div>
        <div class="row justify-content-md-center" style="margin-top: 10px;">
            <h5>Темы курса:</h5>
        </div>

        <div class="row" style="margin: 20px" th:each="theme : ${course.getThemes()}">
            <div>
                <h5 th:text="${theme.getName()}"></h5>
                <p th:text="${theme.getLectureMaterial()}"></p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <h6 th:text="${'Дней для прохождения курса: ' + course.getActiveDays()}"></h6>
        </div>
        <div class="row justify-content-md-center">
            <a style="margin-bottom: 15px;" class="btn btn-primary"
               th:href="@{/test/moderator/view/{id}(id=${course.getTest().getId()})}">Посмотреть тест</a>
        </div>
    </div>
</div>
</body>
</html>