<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="container" style="width: 70%">


        <div class="card bg-light mb-3" style="max-width: 100%;">
            <div class="card-header">Структура курса</div>
            <div class="card-body" style="align-items: center">
                <h5 class="card-title" th:text="${course.name}"></h5>
                <p class="card-text" th:text="${course.description}"></p>

                <table class="table card-text">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Темы</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="theme, iter : ${course.themes}">
                        <th scope="row" th:utext="${iter.index}+1">index</th>
                        <td th:utext="${theme.name}">название</td>
                    </tr>
                </table>
                <a th:if="${course.getTest() != null}" th:href="@{/test/edit/{id}/(id=${course.id})}" class="btn">Редактировать тест</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>