<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Редкировать тест</title>
</head>
<body>
<div th:fragment="content">
    <form th:action="@{/test/saveTest}" th:object="${test}" method="post">
        <input type="hidden" th:field="*{course}" th:value="${test.course.id}">
        <input type="hidden" th:field="*{id}" th:value="${test.getId()}"/>
        <input type="hidden" th:field="*{minThreshold}" th:value="${test.getMinThreshold()}"/>
        <div class="form-group">
            <label for="name">Название теста</label>
            <textarea class="form-control" id="name" th:field="*{name}"></textarea>
        </div>
        <div class="form-group">
            <label for="amountOfAttempts">Количество попыток для прохождения теста</label>
            <input type="number" max="5" min="1" class="form-control" id="amountOfAttempts"
                   th:field="*{amountOfAttempts}" required>
            <div class="row" th:if="${#fields.errors('amountOfAttempts').size() != 0}">
                <div th:if="${#fields.errors('amountOfAttempts')}" style="padding: 10px; margin: 10px;"
                     class="alert alert-dismissible alert-danger error">
                    <ul style="list-style-type: none; padding: 0">
                        <li style="margin: 0;" th:each="err : ${#fields.errors('amountOfAttempts')}"
                            th:text="${err}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" th:each="question, iter : *{testQuestions}">
            <label th:for="${iter.index}" th:text="'Содержание вопроса №' + ${iter.index+1} + ':'"></label>
            <input type="hidden" th:field="*{testQuestions[__${iter.index}__].id}" th:value="${question.getId()}"/>
            <input type="hidden" th:field="*{testQuestions[__${iter.index}__].courseTest}"
                   th:value="${question.getCourseTest().getId()}">
            <input type="text" class="form-control" th:id="${iter.index}"
                   th:field="*{testQuestions[__${iter.index}__].text}">
            <ol style="margin: 4px;">
                <li th:each="answer, iterat : *{testQuestions[__${iter.index}__].getQuestionStandardAnswers()}" style="margin: 2px;">
                    <input type="hidden"
                           th:field="*{testQuestions[__${iter.index}__].questionStandardAnswers[__${iterat.index}__].id}"
                           th:value="${answer.id}"/>
                    <input type="hidden"
                           th:field="*{testQuestions[__${iter.index}__].questionStandardAnswers[__${iterat.index}__].testQuestion}"
                           th:value="${question.id}"/>
                    <input type="checkbox"
                           th:field="*{testQuestions[__${iter.index}__].questionStandardAnswers[__${iterat.index}__].right}"/>
                    <input type="text"
                           th:field="*{testQuestions[__${iter.index}__].questionStandardAnswers[__${iterat.index}__].text}">
                </li>
            </ol>
        </div>
        <div class="row" th:if="${#fields.allErrors().size() != 0}">
            <div style="padding: 10px; margin: 10px;"
                 class="alert alert-dismissible alert-danger error">
                <ul style="list-style-type: none; padding: 0">
                    <li style="margin: 0;" th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>

    </form>
</div>
</body>
</html>