<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="row justify-content-md-center" style="margin: 15px">
        <h2>Тест по курсу: &nbsp;</h2>
        <h2 th:text="${courseName}"></h2>
    </div>
    <form th:action="@{/test/passTest}" th:object="${test}" method="post" onsubmit="setFormSubmitting()">
        <div class="row justify-content-md-center" style="margin: 15px;">
            <input type="hidden" th:field="*{courseId}" th:value="${test.getCourseId()}"/>
            <input type="hidden" th:field="*{name}" th:value="${test.getName()}"/>
            <h4 th:text="${test.getName()}"></h4>
        </div>

        <div class="container" th:each="question, iter : *{questions}"
             style="margin: 10px; background: white; border-radius: 7px;">
            <div class="row" style="margin: 5px;">
                <input type="hidden"
                       th:field="*{questions[__${iter.index}__].title}"
                       th:value="${question.title}"/>
                <input type="hidden"
                       th:field="*{questions[__${iter.index}__].rightAnswerAmount}"
                       th:value="${question.rightAnswerAmount}"/>
                <input type="hidden"
                       th:field="*{questions[__${iter.index}__].id}"
                       th:value="${question.getId()}"/>
                <h6 th:text="${(iter.index + 1) + '. ' + question.title}"></h6>
            </div>


            <ul>
                <li style="list-style-type: none;"
                    th:each="answer, iterat : *{questions[__${iter.index}__].getAnswers()}">
                    <input type="hidden"
                           th:field="*{questions[__${iter.index}__].answers[__${iterat.index}__].id}"
                           th:value="${answer.id}"/>
                    <input type="hidden"
                           th:field="*{questions[__${iter.index}__].answers[__${iterat.index}__].questionId}"
                           th:value="${question.id}"/>
                    <input type="hidden"
                           th:field="*{questions[__${iter.index}__].answers[__${iterat.index}__].title}"
                           th:value="${question.title}"/>
                    <div>
                        <input type="checkbox" th:id="' ' + ${iterat.index} + ' ' + ${iter.index} + 'checkbox'"
                               th:field="*{questions[__${iter.index}__].answers[__${iterat.index}__].checked}">
                        <label th:for="' ' + ${iterat.index} + ' ' + ${iter.index} + 'checkbox'"
                               th:text="${answer.title}"></label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row justify-content-md-center" th:if="${#fields.errors('questions').size() != 0}">
            <div th:if="${#fields.errors('questions')}" style="padding: 10px; margin: 10px;"
                 class="alert alert-dismissible alert-danger error">
                <ul style="list-style-type: none; padding: 0">
                    <li style="margin: 0;" th:each="err : ${#fields.errors('questions')}"
                        th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-md-center" style="margin-bottom: 20px;">
            <button class="btn btn-primary" type="submit">Завершить</button>
        </div>
    </form>
    <script>
        let formSubmitting = false;
        let setFormSubmitting = function () {
            formSubmitting = true;
        };

        window.onload = function () {
            window.addEventListener("beforeunload", function (e) {
                if (formSubmitting) {
                    return undefined;
                }

                let confirmationMessage = 'Внимание, ваша попытка будет засчитана, если вы покинете страницу.';

                (e || window.event).returnValue = confirmationMessage;
                return confirmationMessage;
            });
        };
    </script>
</div>
</body>
</html>