<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="container">
        <h2>Архивированные курсы</h2>
        <table class="table">
            <caption th:if="${courses.size() == 0}">На данный момент нет курсов</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название курса</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="course, iter : ${courses}">
                <th scope="row" th:utext="${iter.index}+1">index</th>
                <td th:utext="${course.name}">имя</td>
                <td>
                    <button style="font-size: 0.875rem" type="button" class="btn btn-success btn-sm" data-toggle="modal"
                            data-target="#acceptRequest">
                        Разархивировать
                    </button>
                </td>
                <div class="modal fade" id="acceptRequest" tabindex="-1" role="dialog"
                     aria-labelledby="acceptRequest" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="acceptRequestTitle">Подтверждение выбора</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите разархивировать этот курс?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить
                                </button>
                                <a class="btn btn-success" th:href="@{/courses/unarchive/{id}(id=${course.id})}">Подтвердить</a>

                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>