<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="container" style="background: white; margin: 20px; border-radius: 7px;">
        <div class="py-5 text-center">
            <h2>Редактирование курса</h2>
            <p class="lead">Ниже вы можете изменить название курса и его описание</p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col order-md-1">
                <form class="needs-validation" th:method="post" th:object="${course}"
                      th:action="@{/courses/edit}">
                    <input type="hidden" th:field="*{id}" th:value="${course.getId()}">
                    <div class="row justify-content-md-center">
                        <div class="col-md-8 mb-3">
                            <label for="courseName">Название курса</label>
                            <br>
                            <span style="margin-bottom: 4px;" class="badge rounded-pill bg-success"
                                  id="max-courseName"></span>
                            <input type="text" max="80" class="form-control" th:field="*{name}" id="courseName"
                                   placeholder="Название"
                                   required="required">
                            <div class="row justify-content-md-center" th:if="${#fields.errors('name').size() != 0}">
                                <div th:if="${#fields.errors('name')}" style="padding: 10px; margin: 10px;"
                                     class="alert alert-dismissible alert-danger error">
                                    <ul style="list-style-type: none; padding: 0">
                                        <li style="margin: 0;" th:each="err : ${#fields.errors('name')}"
                                            th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-8 mb-3">
                            <label for="description">Описание</label>
                            <div class="input-group">
                                <textarea rows="5" th:field="*{description}" class="form-control" id="description"
                                          placeholder="Описание"
                                          required="required"></textarea>

                            </div>

                        </div>
                    </div>
                    <div class="row justify-content-md-center" th:if="${#fields.errors('description').size() != 0}">
                        <div style="padding: 10px; margin: 10px;"
                             class="alert alert-dismissible alert-danger error">
                            <ul style="list-style-type: none; padding: 0">
                                <li style="margin: 0;" th:each="err : ${#fields.errors('description')}"
                                    th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-8 mb-3">
                            <label for="days">Количество дней для прохождения курса</label>
                            <div class="input-group">
                                <input type="number" min="0" max="365" th:field="*{days}" class="form-control" id="days"
                                       placeholder="Количество дней"
                                       required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center" th:if="${#fields.errors('days').size() != 0}">
                        <div style="padding: 10px; margin: 10px;"
                             class="alert alert-dismissible alert-danger error">
                            <ul style="list-style-type: none; padding: 0">
                                <li style="margin: 0;" th:each="err : ${#fields.errors('days')}"
                                    th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-8 mb-3">
                            <p>Разрешить доступ к содержимому курса, после его окончания</p>
                            <div class="form-check">
                                <input type="radio" th:field="*{isAlwaysOpen}" class="form-check-input"
                                       id="isAlwaysOpen" th:value="true" checked>
                                <label class="form-check-label" for="isAlwaysOpen">Да</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" th:field="*{isAlwaysOpen}" class="form-check-input" id="isAlwaysOpen2"
                                       th:value="false">
                                <label class="form-check-label" for="isAlwaysOpen2">Нет</label>
                            </div>
                            <div class="input-group">


                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center" th:if="${#fields.errors('isAlwaysOpen').size() != 0}">
                        <div style="padding: 10px; margin: 10px;"
                             class="alert alert-dismissible alert-danger error">
                            <ul style="list-style-type: none; padding: 0">
                                <li style="margin: 0;" th:each="err : ${#fields.errors('isAlwaysOpen')}"
                                    th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-8 mb-3">
                            Настроить теги
                        </div>
                    </div>
                    <th:block th:each="tag, iter: *{tags}">
                        <div class="row justify-content-md-center">
                            <div class="col-md-8 mb-3">
                                <input th:id="${'tag' + iter.index}" type="text" th:list="${iter.index}" th:field="*{tags[__${iter.index}__].name}" style="margin:10px;">
                                <datalist th:id="${iter.index}">
                                    <option th:class="${'class' + iter.index}" th:each="tagFromDB : ${tagCollection}"
                                            th:value="${tagFromDB.getName()}"></option>
                                </datalist>
                            </div>
                        </div>
                    </th:block>
                    <div class="row justify-content-md-center" th:if="${#fields.errors('tags').size() != 0}">
                        <div style="padding: 10px; margin: 10px;"
                             class="alert alert-dismissible alert-danger error">
                            <ul style="list-style-type: none; padding: 0">
                                <li style="margin: 0;" th:each="err : ${#fields.errors('tags')}"
                                    th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <button style="margin: 10px;" class="btn btn-primary" type="submit">Готово</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        courseName.oninput = courseName.onkeyp = courseName.onchange = function () {
            let len = this.value.length;
            if (len > this.max) {
                this.value = this.value.substr(0, this.max);
                document.getElementById('max-courseName').classList.remove('bg-success');
                document.getElementById('max-courseName').classList.add('bg-danger');
                return false;
            } else {
                document.getElementById('max-courseName').classList.remove('bg-danger');
                document.getElementById('max-courseName').classList.add('bg-success');
            }
            document.getElementById('max-' + this.id).innerHTML = '' + (this.max - len) + '/' + this.max;

        }
    </script>
</div>
</body>
</html>