<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="container" style="background: white; margin: 20px; border-radius: 7px;">
        <div class="py-5 text-center">
            <h2 th:text="'Страница курса: ' + ${course.getName}"></h2>
            <p class="lead">На этой странице вы можете редактировать свой курс</p>
        </div>
    </div>

    <div class="container" style="width: 90%">


        <div class="card bg-light mb-3" style="max-width: 100%;">
            <div class="card-header">Структура курса</div>
            <div class="card-body" style="align-items: center">
                <h5 class="card-title" th:text="${course.name}"></h5>
                <div class="row" style="margin-left:10px;">
                    <a th:each="tag : ${course.getTags()}" th:href="@{/courses/search/tag(name=${tag.getName()})}" th:text="${'#' + tag.getName() + ' '}">
                        <th:block th:text="${tag.name}"></th:block>>
                    </a>
                </div>
                <p class="card-text" th:text="${course.description}"></p>
                <a class="card-text btn btn-primary btn-sm" style="margin: 5px;"
                   th:href="@{/courses/edit/{id}/(id = ${course.getId()})}">Редактировать основную информацию</a>

                <table class="table card-text">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Темы</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="theme, iter : ${course.themes}">
                        <th scope="row" th:utext="${iter.index}+1">index</th>
                        <td th:utext="${theme.name}">название</td>
                        <td><a class="btn btn-primary btn-sm" th:href="@{/themes/edit/{id}/(id = ${theme.getId()})}">Редактировать</a>
                        </td>
                        <td>
                            <button style="font-size: 0.875rem" type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target="#deleteThemeCenter">
                                Удалить
                            </button>
                        </td>
                        <div class="modal fade" id="deleteThemeCenter" tabindex="-1" role="dialog"
                             aria-labelledby="deleteTheme" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteThemeLongTitle"
                                            th:text="'Удаление темы: ' + ${theme.name}"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Вы уверены, что хотите удалить эту тему?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить
                                        </button>
                                        <a class="btn btn-danger" th:href="@{/themes/delete/{id}/(id = ${theme.getId()})}"></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
                <a th:if="${course.getTest() != null}" th:href="@{/test/edit/{id}/(id=${course.id})}"
                   class="btn btn-primary btn-sm">Редактировать тест</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>