<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" style="max-width: 100%;">
    <div th:if="${joinedFlag and sub.getStatus().getValue().equals('Закрыт')}" class="container">
        <div class="row justify-content-md-center">
            <div class="jumbotron" style="margin: 40px; max-width: 70rem; background-color: white ">
                <h3 class="display-4" th:text="${course.getName()}"></h3>
                <h3 class="display-4" style="font-weight: 400">Курс закрыт</h3>
                <p class="lead">Автор ограничил содержимое курса по истечении отведенного времени</p>
            </div>
        </div>
    </div>
    <div th:if="${(joinedFlag and  !sub.getStatus().getValue().equals('Закрыт')) or (!joinedFlag)}" class="container"
         style="width: 90%; background: #ffffff; margin-top: 10px; border: 1px; border-radius: 5px;">
        <div class="row" style="padding:10px;">
            <h3 th:text="${course.getName()}"></h3>
            <br>

        </div>
        <div class="row" style="margin:5px;">
            <a th:each="tag : ${course.getTags()}" th:href="@{/courses/search/tag(name=${tag.getName()})}"
               th:text="${'#' + tag.getName() + ' '}"></a>
        </div>
        <div class="row" style="margin: 5px">
            <span>Автор: &nbsp;</span>
            <a th:href="@{/user/view/profile/{id}(id=${course.getAuthor().getId()})}"
                th:text="${course.getAuthor().getProfile().getSurname() + ' ' + course.getAuthor().getProfile().getName()}"></a>
        </div>
        <div class="row" style="margin: 3px">
            <p th:text="${course.getDescription()}"></p>
        </div>
        <div class="row justify-content-md-center" style="margin-top: 10px;">
            <h5>Темы курса:</h5>
        </div>

        <div th:if="${!joinedFlag}" class="row justify-content-md-center" style="margin: 20px"
             th:each="theme : ${course.getThemes()}">
            <div>
                <h5 th:text="${theme.getName()}"></h5>
                <p th:if="${joinedFlag == true}" th:text="${theme.getLectureMaterial()}"></p>
            </div>
        </div>
        <div th:if="${joinedFlag}" class="row" style="margin: 20px" th:each="theme : ${course.getThemes()}">
            <div>
                <h5 th:text="${theme.getName()}"></h5>
                <p th:if="${joinedFlag == true}" th:text="${theme.getLectureMaterial()}"></p>
            </div>
        </div>
        <div th:if="${!joinedFlag}" class="row justify-content-md-center">
            <h6 th:text="${'Дней для прохождения курса: ' + course.getActiveDays()}"></h6>
        </div>
        <div sec:authorize="hasAnyAuthority('STUDENT','TEACHER')" class="row justify-content-md-center">
            <a style="margin-bottom: 15px;" class="btn btn-primary" th:if="${!joinedFlag and !authorFlag}"
               th:href="@{/courses/joinCourse/{id}(id=${course.id})}">Подписаться</a>
        </div>
        <div class="row justify-content-md-center" sec:authorize="!isAuthenticated()" style="margin: 20px;">
            <p><a th:href="@{/register}">Зарегистрируйтесь</a> или пройдите <a th:href="@{/login}">авторизацию</a> для того, чтобы иметь возможность подписаться на курс</p>
        </div>
        <div class="row justify-content-md-center" th:if="${authorFlag}" style="margin: 20px;">
            <h5>Это ваш курс!</h5>
        </div>
    </div>
    <div th:if="${joinedFlag and !sub.getStatus().getValue().equals('Закрыт') and !sub.getStatus().getValue().equals('Не активен')}"
         class="container"
         style="width: 70%; background: #ffffff; margin-top: 10px; margin-bottom: 20px; border: 1px; border-radius: 5px;">
        <div class="row justify-content-md-center">
            <h6 style="margin: 15px;">Результаты прохождения теста</h6>
        </div>
        <div class="row justify-content-md-center" th:if="${attemptsLeft != 0}" style="margin: 10px;">
            <p th:text="${'Попыток осталось: ' + attemptsLeft}"></p>
        </div>
        <div class="row justify-content-md-center" th:if="${attemptsLeft == 0}" style="margin: 10px;">
            <p>У вас закончились попытки</p>
        </div>
        <div class="row justify-content-md-center" style="margin: 10px;">
            <a th:if="${joinedFlag == true} and ${attemptsLeft > 0}" class="btn btn-primary"
               th:href="@{/test/render/{id}(id=${course.id})}">
                Пройти тест
            </a>
        </div>
        <div class="row justify-content-md-center" style="margin: 5px;">
            <table class="table">
                <caption th:if="${attempts.size()}  == 0">На данный
                    момент вы еще не проходили этот тест
                </caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата прохождения</th>
                    <th align="center" valign="center" scope="col">Количество баллов</th>
                    <th scope="col">Итоговый комментарий</th>
                    <th align="center" valign="center" scope="col">Ваши ответы</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="attempt, iter : ${attempts}">
                    <th scope="row" th:utext="${iter.index}+1"></th>
                    <td th:text="${attempt.getFormattedTime()}"></td>
                    <td align="center" valign="center" th:text="${attempt.getMark()} + '/' + ${maxMark}"></td>
                    <td>
                        <span class="badge badge-success" th:if="${attempt.getPass()}">Пройден</span>
                        <span class="badge badge-danger" th:if="${!attempt.getPass()}">Не пройден</span>
                    </td>
                    <td align="center" valign="center"><a
                            th:href="@{/test/showResult/{id}(id=${attempt.id})}">Подробнее</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>